<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FRLabelChooseDemo-wangyi.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2DE8E0811D7910A000FE256E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2DE8E09A1D7910A000FE256E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2DE8E0A51D7910A000FE256E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
